[submodule "ir-remote-wizard"]
	path = ir-remote-wizard
	url = https://github.com/MadsRudolph/ir-remote-wizard.git
[submodule "spotify-addon"]
	path = spotify-addon
	url = https://github.com/MadsRudolph/spotify-addon.git
[submodule "Projects/BLE Digital Caliper/reference/esp32-caliper"]
	path = Projects/BLE Digital Caliper/reference/esp32-caliper
	url = https://github.com/MadsRudolph/esp32-caliper.git
