[submodule "ir-remote-wizard"]
	path = ir-remote-wizard
	url = https://github.com/MadsRudolph/ir-remote-wizard.git
[submodule "spotify-addon"]
	path = spotify-addon
	url = https://github.com/MadsRudolph/spotify-addon.git
[submodule "Projects/Pi Zero Room Sensor"]
	path = Projects/Pi Zero Room Sensor
	url = git@github.com:MadsRudolph/pi-zero-room-sensor.git
	branch = master
